# .NET stuff
bin/
obj/

# Visual Studio stuff
.vs/

# JetBrains stuff
.idea/

# vscode stuff
.vscode/

# IDEs builds
Arb.NET.IDE.Jetbrains/protocol/build
Arb.NET.IDE.Jetbrains/build
Arb.NET.IDE.Jetbrains/.intellijPlatform
Arb.NET.IDE.Jetbrains/.kotlin
Arb.NET.IDE.Jetbrains/.gradle
Arb.NET.IDE.Jetbrains/output/*

# .user files
Arb.NET.sln.DotSettings.user
local.properties

# Executables
Arb.NET.IDE.Jetbrains/tools/nuget.exe

# AI files
.claude
ai-ref/


