<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-arb-net" value="Arb.NET/bin/Release" />
    <add key="local-arb-net-generators" value="Arb.NET.Generators/bin/Release" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
